<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <div id="main" style="display: none;">
            <div class="status">
                <span id="user-count">Active Users: 0 <span class="green-circle"></span></span>
                <span id="total-images">Total Images: 0</span>
                <span id="remaining-images">Images Left: 0</span>
                <span id="selected-images">Selected Images: 0</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar-inner" id="progress-bar-inner"></div>
            </div>
            <div class="grid" id="image-grid">
                <!-- Images will be loaded here -->
            </div>
            <div class="nav">
                <button id="prev-btn" title="Previous Page">Previous</button>
                <button id="next-btn" title="Next Page">Next</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
